@charset "utf-8";
body { 
margin : 0 5% 0 5%; 
font-family : Verdana, Arial, Helvetica, Sans-serif;
font-size: 0.9em;
background-color : #dce4ed;
} 
h1 {
margin-bottom:1.65em;
text-align: center;
font-size: 1.9em;
color : #cc0000;
text-decoration : underline;}
h2 {
margin : 1.4em 0 1.4em 0;
text-align: left;
font-weight: bold;
font-size: 1.15em;
text-indent:20px;
padding-top:0.3em;
padding-bottom:0.3em;
background-color : #cccccc;
color : #0c419a;}

h3 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 1.05em;
  font-weight: bold;
  text-align: left;
  color: #000066;
  margin-left: 40px;
}

h4 {
  list-style-type: none;
  font-size: 1em;
  list-style-position: outside;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  text-indent: 100px;
  margin-top: 1em;
  margin-bottom: 1em;
}

dt { 
font-weight : bold; 
float : left; 
width: 10%;
clear: left
} 
dd { 
margin : 0 0 0.4em 0; 
float : left;
width: 90%;
display: block;
} 
p { clear : both; 
font-size: 0.9em;
} 
li {font-size: 0.9em;} 
a { text-decoration : none; 
font-weight : bold;
} 
:active { 
text-decoration : none; 
}
a:focus, a:hover {color: red}
:link {color: rgb(110,110,110}
